<ion-view view-title="首页">
  <ion-content>
    <div class="bar bar-header item-input-inset bar-balanced">
      <label class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input type="search" placeholder="Search" ng-focus="showSearchWindow()" >
      </label>
      <button class="button button-clear" ng-click="showSearchWindow()">
        搜索
      </button>
    </div>
    <ion-slide-box style="height: 30%" does-continue="true" auto-play="true" slide-interval="2000"
                   pager-click="slideHasClicked()">
      <ion-slide tabindex="0">
        <img src="img/tsbbig.jpg"style="width: inherit" >
      </ion-slide>
      <ion-slide tabindex="1">
        <img src="img/notebig.jpg" style="width: inherit">
      </ion-slide>
      <ion-slide on-slide-changed="slideHasChanged(index)" tabindex="2">
        <img src="img/xmsbig.jpg" style="width: inherit">
      </ion-slide>
    </ion-slide-box>
    <div class="checkbox">
      为你推荐
    </div>
    <div>
      <!--href="#/tab/home/goodsDetail"-->
      <div class="item item-thumbnail-right" ng-repeat="goods in goodsInfo" ng-click="showDetail(goods)" style="border: 0px;width: 50%;float: left;" >
        <div>
          <img ng-src="{{goods.goodsPictureSmall}}" style="float: left" width="64px" height="64px">
          <div style="font-size: small">
            {{goods.goodsName}}
          </div>

          <div style="margin-top: 10px">
            ￥{{goods.goodsPrice}}
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
