<ion-view view-title="帮助中心">
  <ion-nav-bar class="bar-stable">
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content>
<div class="image item-avatar">
  <img ng-src="{{userInfo.headPortrait}}"></div>
    <div class="list">
      <div class="item item-icon-right">
        <div class="row">
          <div class="col">版本更新</div>
        </div>
        <i class="icon ion-ios-arrow-right"></i>
      </div>
      <div class="item item-icon-right">
        <div class="row">
          <div class="col">功能介绍</div>
        </div>
        <i class="icon ion-ios-arrow-right"></i>
      </div>
      <div class="item item-icon-right">
        <div class="row">
          <div class="col">帮助</div>
        </div>
        <i class="icon ion-ios-arrow-right"></i>
      </div>
      <div class="item item-icon-right">
        <div class="row">
          <div class="col">反馈</div>
        </div>
        <i class="icon ion-ios-arrow-right"></i>
      </div>
    </div>
  </ion-content>
</ion-view>
