<ion-view view-title="找回密码">
  <ion-nav-bar class="bar-balanced" align-title="center">
    <ion-nav-back-button></ion-nav-back-button>
  </ion-nav-bar>
  <ion-content>
    <div class="list">
      <div class="item item-input">
        <input ng-model="info.mobile" type="text" placeholder="请输入您的手机号">
      </div>
      <div class="item item-input">
        <input ng-model="info.confirmCode" type="text" placeholder="请输入验证码">
        <button class="button block" ng-click="getConfirmCode(info.mobile)">获取验证码</button>
      </div>
      <div class="button button-positive button-block" ng-click="setNewPassword()">下一步</div>
    </div>
  </ion-content>
</ion-view>
